

/* page d'accueil */

.trait{
    margin: 15px auto;
    width: 20%;
    height: 1px;
    background-color:black;
} 


/* ------------------------------------------------------------------------------------------------- */



/* page formulaire */

.formulaire{
    font-family: 'Oxygen', sans-serif;
    background-image: url("cours.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#monform{   
    width:400px; /* A toi de donner la bonne largeur */
    height:80px; /* A toi de donner la bonne hauteur */
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%; 
}



.titreform {
    text-transform : none;
    display: inline-box;
    color:black;
    font-size: 1em;
	margin-bottom: 10px;
}

fieldset{
    text-align : justify;
    padding:0 20px 20px 20px;
    margin-bottom:5px; /*espace entre les 2 champs de formulaire*/
    border: none;
    background-color:gainsboro;
    font-size: x-large;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    

}

input{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    background-color: beige; 
   
}

.number{
    background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

/* titres */
label{
    display: inline-block;
    font-size: 20px;
}

/* messages d'erreurs */
.error{
    color: red;
    font-size: 15px;
    visibility:hidden;
}

/* checkbox pour les cours */
.checkboxlabel {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    }

.checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------- */



/* barre de navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#1abc9c;
    
}
  

  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
  
li a:hover {
    background-color: #111;
    cursor: pointer;
}

.inscription{
    float: right;
    cursor: pointer;
    
}

.inscription:hover{
   background-color: #1abc9c;
   color: black;
}


.connection {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    cursor:pointer;
    background-color:black;
}

.connection:hover{
    background-color: #1abc9c;
}




/* ------------------------------------------------------------------------------------------------- */


/* bouton envoyer */

.button{
    cursor: pointer;
    border-style: solid;
    background-color:black;
    color: white;
    font-size: 20px;
    padding: 0px 15px;
    position: relative;
    height: 40px;
}

        
.button:hover{
    background-color: #1abc9c;
}


/* mon profil */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: arial;
  padding: 50px;
  background-color:gainsboro;
  border-radius: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* images ou liens en bas du profil 
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}*/

button:hover {
  opacity: 0.7;
}



/* ------------------------------------------------------------------------------------------------- */

/* Footer - Bas de page */

footer {
    bottom: 0;
    height: 100px;
    margin-top: 50px;
    left: 0;
    right: 0;
    
}

.partie1{
    background-color: white;
    padding: auto;
    margin: auto;
}


.partie2{
    background-color: #1abc9c;
    padding: auto;
    margin: auto;
    
}



/* ------------------------------------------------------------------------------------------------- */


/* MAJUSCULES */
.uppercase{
text-transform: uppercase;
}
