<!DOCTYPE html>
<html lang="fr">

<html>
  <head>
      <link href="style.css" rel="stylesheet" media="all" type="text/css"> 
      <meta charset="utf-8">
      <title>Teach and Learn - Trouver un cours de francais</title>
  </head>

  <body>

    <nav id="myNav"></nav>

    <h1> Trouvez votre tuteur de français: </h1>
    <ul>
	    {% for row in cours_francais %}
	    <li>
              <!--0 id, 1 nom, 2 prenom, 3 pseudo, 4 mdp, 5 email, 6 tel, 7 nv m
aths, 8 nv fancais, 9 nv histoire, 10 nv maths-->
        <!-- {{ row[1], row[2], row[5], row[6], row[7] }} -->

		<div class="card">
			<img src="img_avatar1.png" alt="{{ row[3] }}" style="width:100%">
			<h1>{{ row[1] }} {{ row[2] }}</h1>
			<p class="title">Niveau en français : {{ row[8] }}</p>
			<p>Tel : {{ row[6] }}</p>
			<p>Email : {{ row[5] }}</p>
			<div style="margin: 24px 0;">
				<a href="#"><i class="fa fa-dribbble"></i></a> 
				<a href="#"><i class="fa fa-twitter"></i></a>  
				<a href="#"><i class="fa fa-linkedin"></i></a>  
				<a href="#"><i class="fa fa-facebook"></i></a> 
			</div>
			<form method = "POST" action = "/contact_prof">
				<input type="text" name="id_prof" id="id_prof" value="{{ row[0] }}" style="visibility:hidden"/>
				<input type = "submit" class = "button" value = "choisir ce cours"/>
			</form>
		</div>
	    </li>
	    {% endfor %}
    </ul>
    <footer id="myFooter"></footer>
    <script src="templates/load_essentials.js"></script>
  </body>
</html>
