<!DOCTYPE html>
<html lang="fr">

  <head>
    <link href="style.css" rel="stylesheet" media="all" type="text/css">
    <title>Teach and Learn - Mon profil</title>              
  </head>
    

  <body class ="formulaire">
    <nav id="myNav"></nav>
    <div></div>
    <div></div>
    </br>
    </br>
    <h1 style="text-align:center">Mon profil</h1>
      <div class="card">
        <ul>
          <img src="img_avatar1.png" alt="John" style="width:100%">
          <li><h1>PRENOM NOM</h1></li>
          <li> {{mon_profil[0][1]}}, {{mon_profil[0][2]}}</li>
          </br>
          <li> Téléphone </li>
          <li> {{mon_profil[0][6]}} </li>
          </br>
          <li> Pseudo</li>
          <li> {{mon_profil[0][3]}} </li>
          </br>
          <li> Mot de passe</li>
          <li> {{mon_profil[0][4]}} </li>
	  </br>
          <input class = "button" name = "bouton_modif_mdp" id = "bouton_modif_mdp" value = "Modifier mot de passe" onclick="changer_mdp()"/>
	  <div name = "changer_mdp" id = "changer_mdp" style = "visibility:hidden">
		<form method="POST" action = "/nv_mdp">
			  <label for="nv_mdp"> Quel est votre nouveau mot de passe</label>
			  <input name = "nv_mdp" id = "nv_mdp"/>
			  <input type="submit" class = "button" name = "bouton_nv_mdp" id = "bouton_nv_mdp" value = "confirmer changement de mot de passe"/>
		</form>
	  </div>
  	  <li> il vous reste {{mon_profil[0][14]}} points</li>
	  </br>
          <li> Email </li>
          <li> {{mon_profil[0][5]}} </li>
          <!-- <li> Date de naissance</li> -->	
          </br>
          <h2> Je donne des cours de :</h2>
          <p> Matière 1</p>
          <p> Matière 2</p>    
          </br>
          <h2> Ma description </h2>
        </ul>
      </div>
    <footer id="myFooter"></footer>
    <script src="templates/load_essentials.js"></script>
    <script type="text/javascript" src="templates/changement_mdp.js"></script>
  </body>
</html>
